.vs
Build
Library
Logs
obj
Packages
ProjectSettings
2D_Delphin.sln
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Assets/_Complete-Game
Assets/_Complete-Game*
Assets/Audio*
Assets/Cinemachine*
Assets/Fonts*
Assets/Gizmos*
Assets/TutorialInfo*
Assets/WeweFreeGameIcons*
Assets/Sprites*
Assets/MojeRzeczy/Duck*
Assets/MojeRzeczy/Paletts*
Assets/MojeRzeczy/Seagull*
Assets/MojeRzeczy/sprites*
Assets/MojeRzeczy/Tiles*
Assets/MojeRzeczy/2d-extras-master*
Assets/MojeRzeczy/DolphinMaterial.physicsMaterial2D*
Assets/MojeRzeczy/Slippery.physicsMaterial2D*
Assets/MojeRzeczy/NewWaterTile.asset*
Assets/MojeRzeczy/WaterTile.asset*

